#{extends 'main.html' /}
#{set title:'State' /}

currentFloorBoundaries=${currentFloorBoundaries.toString()}
<br/>

Etat courant :
<ul>
	<li>Etage courant : ${currentState.currentFloor}</li>
	<li>${currentState.opened ? "Ouvert" : "Fermé"}</li>
	<li>Direction courante : ${currentState.currentDirection}</li>
	<li>Appels en attente (floor - direction): ${currentState.waitingCalls.size()}</li>
	<ul>
		#{list items:currentState.waitingCalls, as:'call' }
	        <li>${call.floor} - ${call.direction}</li>
		#{/list}
	</ul>
	<li>Go en cours (floor): ${currentState.goRequests.size()}</li>
	<ul>
		#{list items:currentState.goRequests, as:'go' }
	        ${go}${go_isLast ? '' : ','}
		#{/list}
	</ul>
	<li>Dernières commandes : </li>
	<ul>
		#{list items:currentState.lastCommands.toArray(), as:'lastCommand' }
		        <li>${lastCommand}</li>
		#{/list}
	</ul>
</ul>
<i>${currentState.toString()}</i>